.start {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: percent(1010, 1440);
        height: percent(1010, 1440);
        left: percent(-336, 1440);
        top: percent(-305, 1440);
        background: #002853;
        filter: blur(rem(564));
        @media (max-width: $mobile) {
            filter: blur(rem(250));
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: percent(701, 1440);
        height: percent(496, 1440);
        left: percent(1127, 1440);
        bottom: percent(-180, 1440);
        background: #072d56;
        filter: blur(rem(564));
        @media (max-width: $mobile) {
            filter: blur(rem(200));
        }
    }
    &__container {
        position: relative;
        z-index: 2;
    }

    &__wrapper {
        min-height: 100vh;
        padding-top: rem(100);
        @media (min-width: $mobile) {
            align-items: center;
            justify-content: space-between;
            display: flex;
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(80);
        }
    }

    &__content {
        @media (min-width: $tablet) {
            padding-top: rem(40);
        }
    }

    &__title {
        font-weight: 800;
        @include adaptiveValue("font-size", 62, 30, 1200, 767.98, 1);
        line-height: math.div(75, 62);
        letter-spacing: -0.04em;
        background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        @media (min-width: $mobile) {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 35, 25);
            }
        }
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__text {
        @media (min-width: $mobile) {
            @include adaptiveValue("max-width", 555, 360);
        }
        font-weight: 400;
        font-size: rem(20);
        line-height: math.div(27, 20);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 35, 25);
        }
    }

    &__form {
        position: relative;
        display: flex;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 35, 25);
        }
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
        }
        .form__error {
            position: absolute;
            bottom: 100%;
            left: 0;
            color: red;
            font-size: rem(14);
            line-height: math.div(16, 14);
            margin-bottom: rem(4);
        }
    }

    &__input {
        @include adaptiveValue("min-height", 73, 58, 1200, 767.98, 1);
        @media (min-width: $mobileSmall) {
            flex: 1 1 auto;
            border-radius: rem(5) 0px 0px rem(5);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 20, 10);
            }
        }
    }

    &__button {
        @include adaptiveValue("min-height", 73, 58, 1200, 767.98, 1);
        flex: 0 0 rem(174);
        @media (min-width: $mobileSmall) {
            border-radius: 0 rem(5) rem(5) 0;
        }
        @media (max-width: $tablet) {
            flex: 0 0 rem(140);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__people {
    }

    &__image {
        flex: 0 0 percent(667, 1170);
        margin: rem(-60) rem(-110) 0px rem(-20);
        img {
            max-width: 100%;
        }
        @media (max-width: $tablet) {
            margin-left: 0;
        }
        @media (max-height: em(830)) {
            margin-top: rem(0);
        }
        @media (max-height: em(830)) and (max-width: $tablet) {
            margin-top: rem(-60);
        }
        @media (max-width: $mobile) {
            max-width: 50%;
            margin: 0px auto;
        }
        @media (max-width: $mobileSmall) {
            max-width: 80%;
        }
    }
}

.people-start {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: rem(15);
    @media (max-width: $mobile) {
        justify-content: center;
    }
    &__item {
        flex: 0 0 rem(36);
        min-height: rem(36);
        border-radius: 50%;
        overflow: hidden;
        border: rem(2) solid $white;
        &:not(:first-child) {
            margin-left: rem(-9);
        }
    }

    &__item-last {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 800;
        font-size: rem(8);
        background: #13ded2;
        color: $black;
        margin-right: rem(15);
    }

    &__text {
        font-size: rem(12);
        line-height: math.div(18, 12);
        color: $white;
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }
}

//========================================================================================================================================================

.companies {
    padding-top: rem(70);
    @include adaptiveValue("padding-bottom", 65, 35, 1200, 767.98, 1);
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @include adaptiveValue("gap", 46, 20, 1200, 767.98, 1);
    }

    &__item {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.what {
    @include adaptiveValue("padding-top", 65, 35, 1200, 767.98, 1);
    @include adaptiveValue("padding-bottom", 100, 40, 1200, 767.98, 1);
    &__container {
    }

    &__content {
        overflow: hidden;
        position: relative;
        @include adaptiveValue("padding", 40, 30, 991.98, 767.98, 1);
        background-color: $secondary-1;
        @media (max-width: $mobileSmall) {
            padding: rem(30) rem(15);
            margin: 0px rem(-15);
        }
        &::before {
            content: "";
            position: absolute;
            width: percent(600, 1200);
            height: percent(780, 1200);
            left: percent(-400, 1200);
            top: percent(-600, 1200);
            background: #0f4279;
            filter: blur(rem(120));
        }
        &::after {
            content: "";
            position: absolute;
            width: percent(623, 1200);
            height: percent(1000, 1200);
            right: percent(-400, 1200);
            bottom: percent(-600, 1200);
            background: #1b78de;
            filter: blur(rem(200));
        }
    }

    &__item {
        position: relative;
        z-index: 2;
    }

    &__feature {
        position: relative;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .feature__title {
            flex: 0 1 rem(484);
        }
        .feature__link {
            margin-top: rem(15);
        }
        &:not(:first-child) {
            @include adaptiveValue("margin-top", 90, 50, 1200, 767.98, 1);
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 90, 50, 1200, 767.98, 1);
        }
    }

    &__body {
        display: grid;
        gap: rem(30);
        grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
    }
}

//========================================================================================================================================================

.future {
    @include adaptiveValue("padding-top", 100, 40, 1200, 767.98, 1);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        @include adaptiveValue("width", 777, 350);
        @include adaptiveValue("height", 777, 350);
        @include adaptiveValue("left", -444, -100);
        @include adaptiveValue("top", -128, -20);
        background: #07325f;
        filter: blur(rem(564));
        @media (max-width: $mobile) {
            filter: blur(rem(250));
        }
    }
    &__container {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("gap", 70, 40, 1200, 767.98, 1);
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    &__feature {
        @media (min-width: $mobile) {
            flex: 0 0 percent(426, 1200);
        }
        .feature__title {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 34, 20, 1200, 767.98, 1);
            }
        }
    }

    &__items {
        @media (min-width: $mobile) {
            flex: 0 1 rem(600);
        }
    }

    &__item {
    }
}
