.start {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: percent(1010, 1440);
        height: percent(1010, 1440);
        left: percent(-336, 1440);
        top: percent(-305, 1440);
        background: #002853;
        filter: blur(rem(564));
        @media (max-width: $mobile) {
            filter: blur(rem(250));
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: percent(701, 1440);
        height: percent(496, 1440);
        left: percent(1127, 1440);
        bottom: percent(-180, 1440);
        background: #072d56;
        filter: blur(rem(564));
        @media (max-width: $mobile) {
            filter: blur(rem(200));
        }
    }
    &__container {
        position: relative;
        z-index: 2;
    }

    &__wrapper {
        min-height: 100vh;
        padding-top: rem(100);
        @media (min-width: $mobile) {
            align-items: center;
            justify-content: space-between;
            display: flex;
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(80);
        }
    }

    &__content {
        @media (min-width: $tablet) {
            padding-top: rem(40);
        }
    }

    &__title {
        font-weight: 800;
        @include adaptiveValue("font-size", 62, 30, 1200, 767.98, 1);
        line-height: math.div(75, 62);
        letter-spacing: -0.04em;
        background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        @media (min-width: $mobile) {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 35, 25);
            }
        }
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__text {
        @media (min-width: $mobile) {
            @include adaptiveValue("max-width", 555, 360);
        }
        font-weight: 400;
        font-size: rem(20);
        line-height: math.div(27, 20);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 35, 25);
        }
    }

    &__form {
        position: relative;
        display: flex;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 35, 25);
        }
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
        }
        .form__error {
            position: absolute;
            bottom: 100%;
            left: 0;
            color: red;
            font-size: rem(14);
            line-height: math.div(16, 14);
            margin-bottom: rem(4);
        }
    }

    &__input {
        @include adaptiveValue("min-height", 73, 58, 1200, 767.98, 1);
        @media (min-width: $mobileSmall) {
            flex: 1 1 auto;
            border-radius: rem(5) 0px 0px rem(5);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 20, 10);
            }
        }
    }

    &__button {
        @include adaptiveValue("min-height", 73, 58, 1200, 767.98, 1);
        flex: 0 0 rem(174);
        @media (min-width: $mobileSmall) {
            border-radius: 0 rem(5) rem(5) 0;
        }
        @media (max-width: $tablet) {
            flex: 0 0 rem(140);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__people {
    }

    &__image {
        flex: 0 0 percent(667, 1170);
        margin: rem(-60) rem(-110) 0px rem(-20);
        img {
            max-width: 100%;
        }
        @media (max-width: $tablet) {
            margin-left: 0;
        }
        @media (max-height: em(830)) {
            margin-top: rem(0);
        }
        @media (max-height: em(830)) and (max-width: $tablet) {
            margin-top: rem(-60);
        }
        @media (max-width: $mobile) {
            max-width: 50%;
            margin: 0px auto;
        }
        @media (max-width: $mobileSmall) {
            max-width: 80%;
        }
    }
}

.people-start {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: rem(15);
    @media (max-width: $mobile) {
        justify-content: center;
    }
    &__item {
        flex: 0 0 rem(36);
        min-height: rem(36);
        border-radius: 50%;
        overflow: hidden;
        border: rem(2) solid $white;
        &:not(:first-child) {
            margin-left: rem(-9);
        }
    }

    &__item-last {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 800;
        font-size: rem(8);
        background: #13ded2;
        color: $black;
        margin-right: rem(15);
    }

    &__text {
        font-size: rem(12);
        line-height: math.div(18, 12);
        color: $white;
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }
}

//========================================================================================================================================================

.companies {
    padding-top: rem(70);
    @include adaptiveValue("padding-bottom", 65, 35, 1200, 767.98, 1);
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @include adaptiveValue("gap", 46, 20, 1200, 767.98, 1);
    }

    &__item {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.what {
    @include adaptiveValue("padding-top", 65, 35, 1200, 767.98, 1);
    @include adaptiveValue("padding-bottom", 100, 40, 1200, 767.98, 1);
    &__container {
    }

    &__content {
        overflow: hidden;
        position: relative;
        @include adaptiveValue("padding", 40, 30, 991.98, 767.98, 1);
        background-color: $secondary-1;
        @media (max-width: $mobileSmall) {
            padding: rem(30) rem(15);
            margin: 0px rem(-15);
        }
        &::before {
            content: "";
            position: absolute;
            width: percent(600, 1200);
            height: percent(780, 1200);
            left: percent(-400, 1200);
            top: percent(-600, 1200);
            background: #0f4279;
            filter: blur(rem(120));
        }
        &::after {
            content: "";
            position: absolute;
            width: percent(623, 1200);
            height: percent(1000, 1200);
            right: percent(-400, 1200);
            bottom: percent(-600, 1200);
            background: #1b78de;
            filter: blur(rem(200));
        }
    }

    &__item {
        position: relative;
        z-index: 2;
    }

    &__feature {
        position: relative;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .feature__title {
            flex: 0 1 rem(484);
        }
        .feature__link {
            margin-top: rem(15);
        }
        &:not(:first-child) {
            @include adaptiveValue("margin-top", 90, 50, 1200, 767.98, 1);
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 90, 50, 1200, 767.98, 1);
        }
    }

    &__body {
        display: grid;
        gap: rem(30);
        grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
    }
}

//========================================================================================================================================================

.future {
    @include adaptiveValue("padding-top", 100, 40, 1200, 767.98, 1);
    @include adaptiveValue("padding-bottom", 50, 40, 1200, 767.98, 1);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        @include adaptiveValue("width", 777, 350);
        @include adaptiveValue("height", 777, 350);
        @include adaptiveValue("left", -444, -100);
        @include adaptiveValue("top", -128, -20);
        background: #07325f;
        filter: blur(rem(564));
        @media (max-width: $mobile) {
            filter: blur(rem(250));
        }
    }
    &__container {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("gap", 70, 40, 1200, 767.98, 1);
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    &__feature {
        @media (min-width: $tablet) {
            flex: 0 0 percent(426, 1200);
        }
        .feature__title {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 34, 20, 1200, 767.98, 1);
            }
        }
    }

    &__items {
        @media (min-width: $tablet) {
            flex: 0 1 rem(600);
        }
    }

    &__item {
    }
}

//========================================================================================================================================================

.posibilities {
    @include adaptiveValue("padding-top", 10, 30, 767.98, 320, 1);
    @include adaptiveValue("padding-bottom", 80, 40, 1200, 767.98, 1);
    &__container {
    }

    &__wrapper {
        @media (min-width: $mobile) {
            align-items: flex-end;
            display: flex;
        }
        @media (min-width: $pc) {
            padding: 0px rem(40);
        }
    }

    &__image {
        @media (min-width: $mobile) {
            flex: 0 1 50%;
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("max-width", 500, 290, 767.98, 320, 1);
            margin-bottom: rem(30);
        }
        img {
            max-width: 100%;
        }
    }

    &__content {
        padding: rem(30) rem(20);
        @media (min-width: $mobile) {
            flex: 0 1 50%;
        }
        @media (max-width: $tablet) {
            padding: 0px 0px 0px rem(20);
        }
        @media (max-width: $mobile) {
            padding: 0;
        }
    }

    &__link {
        display: inline-flex;
        line-height: math.div(30, 16);
        transition: all 0.3s ease 0s;
        color: $primary-2;
        @media (any-hover: hover) {
            &:hover {
                color: $primary-1;
            }
        }
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
        &_blue {
            color: #71e5ff;
            @media (any-hover: hover) {
                &:hover {
                    color: $white;
                }
            }
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__text {
        line-height: math.div(30, 16);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 20);
        }
    }
}

//========================================================================================================================================================

.register {
    @include adaptiveValue("padding-top", 80, 40, 1200, 767.98, 1);
    @include adaptiveValue("padding-bottom", 80, 40, 1200, 767.98, 1);
    &__container {
    }

    &__wrapper {
        background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
        border: rem(1) solid $black;
        box-shadow: 0px rem(4) rem(4) rgba(0, 0, 0, 0.25);
        border-radius: rem(10);
        padding: rem(40);

        display: flex;
        gap: rem(20);
        @media (max-width: $tablet) {
            padding: rem(30);
        }
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
        @media (max-width: $mobileSmall) {
            margin: 0px rem(-15);
            padding: rem(20) rem(15);
            border-radius: 0;
        }
    }

    &__header {
        @media (min-width: $mobile) {
            flex: 1 1 auto;
        }
    }

    &__label {
        font-size: rem(12);
        line-height: math.div(16, 12);
        color: $black;
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
    }

    &__title {
        font-weight: 800;
        @include adaptiveValue("font-size", 24, 20);
        line-height: math.div(36, 24);
        color: $black;
    }

    &__button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: rem(60);
        padding: rem(5) rem(40);
        min-width: rem(170);
        background-color: $black;
        border-radius: rem(40);
        font-size: rem(18);
        line-height: math.div(30, 18);
        font-weight: 700;
        color: $white;
        transition: all 0.3s ease 0s;
        border: rem(2) solid transparent;
        @media (any-hover: hover) {
            &:hover {
                color: $black;
                border: rem(2) solid $black;
                background-color: transparent;
            }
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}

//========================================================================================================================================================

.blog {
    @include adaptiveValue("padding-top", 80, 40, 1200, 767.98, 1);
    @include adaptiveValue("padding-bottom", 160, 80, 1200, 767.98, 1);
    &__container {
    }

    &__title {
        font-weight: 800;
        @include adaptiveValue("font-size", 62, 30, 1200, 767.98, 1);
        line-height: math.div(75, 62);
        letter-spacing: -0.04em;
        background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 115, 30, 1200, 479.98, 1);
        }
        @media (min-width: $mobile) {
            max-width: rem(700);
        }
    }

    &__body {
        @media (min-width: $tablet) {
            grid-template-columns: 1.2fr 0.9fr 0.9fr;
            grid-template-areas:
                "grid1 grid2 grid3"
                "grid1 grid4 grid5";
        }
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "grid1 grid1"
                "grid2 grid3"
                "grid4 grid5";
        }
        @media (min-width: $mobileSmall) {
            @include adaptiveValue("gap", 45, 30, 1200, 991.98, 1);
            display: grid;
        }
    }

    &__item {
    }
}
.item-blog {
    background-color: $secondary-1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top-left-radius: rem(40);
    @media (max-width: $mobileSmall) {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }
    &_1 {
        @media (max-width: $tablet) {
            flex-direction: row;
        }
        @media (max-width: $mobileSmall) {
            flex-direction: column;
        }
        .item-blog__image-ibg {
            height: rem(290);
            @media (max-width: $tablet) {
                flex: 0 0 calc(50% - rem(15));
            }
            @media (max-width: $mobileSmall) {
                flex: 0 0 rem(130);
            }
        }
        .item-blog__body {
            @media (max-width: $tablet) {
                padding-left: rem(30);
            }
            @media (max-width: $mobileSmall) {
                padding: rem(20);
            }
        }
        .item-blog__link {
            @include adaptiveValue("font-size", 25, 20, 1200, 767.98, 1);
        }
        grid-area: grid1;
    }

    &_2 {
        grid-area: grid2;
    }

    &_3 {
        grid-area: grid3;
    }

    &_4 {
        grid-area: grid4;
    }

    &_5 {
        grid-area: grid5;
    }

    &__image-ibg {
        overflow: hidden;
        height: rem(130);

        img {
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: rem(25);
        @media (max-width: $mobile) {
            padding: rem(20);
        }
        h4 {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 40, 30);
            }
            flex: 1 1 auto;
        }
    }

    &__date,
    &__button {
        font-weight: 700;
        font-size: rem(12);
        line-height: math.div(16, 12);
        color: $white;
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }

    &__link {
        @include adaptiveValue("font-size", 18, 16);
        display: inline-flex;
        font-weight: 800;
        line-height: math.div(30, 25);
        color: $white;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary-2;
            }
        }
    }

    &__button {
        display: inline-flex;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary-2;
            }
        }
    }
}

//========================================================================================================================================================

.request {
    @include adaptiveValue("padding-top", 175, 60, 1200, 767.98, 1);
    @include adaptiveValue("padding-bottom", 100, 40, 1200, 767.98, 1);
    background-color: $secondary-2;
    &__container {
        text-align: center;
    }

    &__title {
        font-weight: 800;
        @include adaptiveValue("font-size", 62, 30, 1200, 767.98, 1);
        line-height: math.div(75, 62);
        letter-spacing: -0.04em;
        background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 30, 1200, 479.98, 1);
        }
        @media (min-width: $mobile) {
            margin: 0px auto;
            max-width: rem(820);
        }
    }

    &__button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Gilroy;
        font-weight: 500;
        font-size: rem(18);
        line-height: math.div(21, 18);
        border: rem(1) solid $white;
        color: $white;
        min-height: rem(65);
        min-width: rem(220);
        padding: rem(5) rem(10);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $primary-1;
                border: rem(1) solid transparent;
            }
        }
    }
}
